<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>首页</title>
    <link rel="stylesheet" th:href="@{/iview/iview.css}">
    <script th:src="@{/libs/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/libs/vue.min.js}" type="text/javascript"></script>
    <script th:src="@{/layer/layer.js}" type="text/javascript"></script>
    <script th:src="@{/iview/iview.min.js}" type="text/javascript"></script>
    <style type="text/css">
        [v-cloak] {
            display: none;
        }

        .demo-upload-list{
            display: inline-block;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            border: 1px solid transparent;
            border-radius: 4px;
            overflow: hidden;
            background: #fff;
            position: relative;
            box-shadow: 0 1px 1px rgba(0,0,0,.2);
            margin-right: 4px;
        }
        .demo-upload-list img{
            width: 100%;
            height: 100%;
        }
        .demo-upload-list-cover{
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0,.6);
        }
        .demo-upload-list:hover .demo-upload-list-cover{
            display: block;
        }
        .demo-upload-list-cover i{
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            margin: 0 2px;
        }
    </style>
</head>
<body>
<div id="app" v-cloak style="margin: 30px">
    <template>
        <i-form v-ref:form-goods :model="formGoods" :rules="ruleValidate" :label-width="80">
            <Form-item label="秘钥" prop="keyword">
                <i-input v-model="formGoods.keyword" :value.sync="formGoods.keyword" placeholder="请输入秘钥"></i-input>
            </Form-item>
            <Form-item label="商品名称" prop="title" >
                <i-input v-model="formGoods.title" :value.sync="formGoods.title" placeholder="请输入商品名称" maxlength="200"></i-input>
            </Form-item>
            <Form-item label="商品类型" prop="type">
                <i-input v-model="formGoods.type" :value.sync="formGoods.type"
                         placeholder="请输入商品类型 0实体 1虚拟"></i-input>
            </Form-item>
            <Form-item label="商品原价" prop="price">
                <i-input v-model="formGoods.price" :value.sync="formGoods.price"
                         placeholder="请输入商品原价"></i-input>
            </Form-item>
            <Form-item label="商品售价" prop="salePrice">
                <i-input v-model="formGoods.salePrice" :value.sync="formGoods.salePrice"
                         placeholder="请输入商品售价"></i-input>
            </Form-item>
            <Form-item label="商品库存" prop="store">
                <i-input v-model="formGoods.store" :value.sync="formGoods.store"
                         placeholder="请输入商品库存"></i-input>
            </Form-item>
            <Form-item label="商品描述" prop="description">
                <i-input  type="textarea" v-model="formGoods.description" :value.sync="formGoods.description"
                         placeholder="请输入商品描述" maxlength="500"></i-input>
            </Form-item>
            <Form-item :label="'商品图片'" class="create__form-upload">
                <template>
                    <div class="demo-upload-list" v-for="item in formGoods.resources">
                        <template v-if="item.status === 'finished'">
                            <img :src="imgPath+item.filePath">
                            <div class="demo-upload-list-cover">
                                <Icon type="ios-eye-outline" @click.native="handleView(item.filePath)"></Icon>
                                <Icon type="ios-trash-outline" @click.native="handleRemove(item)"></Icon>
                            </div>
                        </template>
                        <template v-else>
                            <Progress v-if="item.showProgress" :percent="item.percentage" hide-info></Progress>
                        </template>
                    </div>
                    <Upload
                            ref="upload"
                            :show-upload-list="false"
                            :on-success="handleSuccess"
                            :format="['jpg','jpeg','png']"
                            :max-size="2048"
                            :on-format-error="handleFormatError"
                            :on-exceeded-size="handleMaxSize"
                            :before-upload="handleBeforeUpload"
                            :data="{type:2}"
                            multiple
                            type="drag"
                            action="../file/upload"
                            style="display: inline-block;width:58px;">
                        <div style="width: 58px;height:58px;line-height: 58px;">
                            <Icon type="ios-camera" size="20"></Icon>
                        </div>
                    </Upload>
                    <Modal title="View Image" v-model="visible">
                        <img :src="imgPath + filePath" v-if="visible" style="width: 100%">
                    </Modal>
                </template>
                <script>

                </script>
            </Form-item>
        </i-form>
    </template>
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            formGoods: {
                id:'',
                title: '',
                type: '',
                price: '',
                salePrice: '',
                store: '',
                type: '',
                description: '',
                resources:[],
            },
            imgPath:"https://swjoss.3vjia.com/lifelab/",
            visible:false,
            ruleValidate: {
                keyword: [
                    {required: true, message: '秘钥不能为空', trigger: 'blur'}
                ],
                title: [
                    {required: true, message: '商品名称不能为空', trigger: 'blur'}
                ],
                type: [
                    {required: true, message: '商品类型不能为空', trigger: 'blur'}
                ],
                price: [
                    {required: true, message: '商品原价不能为空', trigger: 'blur'}
                ],
                salePrice: [
                    {required: true, message: '商品售价不能为空', trigger: 'blur'}
                ],
                store: [
                    {required: true, message: '商品库存不能为空', trigger: 'blur'}
                ],
                description: [
                    {required: true, message: '商品描述不能为空', trigger: 'blur'}
                ]
            }
        },
        methods: {
            //新建
            acceptClick: function () {
                //Validate不起作用MD
                var goods = vm.formGoods;
                if (vm.formGoods.title == "" || vm.formGoods.type == "" || vm.formGoods.description == ""
                    || vm.formGoods.price == "" || vm.formGoods.salePrice == "" || vm.formGoods.store == "") {
                    alert("请输入以上完整信息");
                    return;
                }
                $.ajax({
                    url: "../manager/auth/createGoods?keyword="+this.formGoods.keyword,
                    type: "post",
                    data: JSON.stringify(goods),
                    contentType:'application/json;charset=utf-8',
                    dataType:'json',
                    success: function (result) {
                        if (result) {
                            window.parent.location.reload();
                        } else {
                            vm.$Notice.error({
                                desc: '系统异常'
                            });
                        }
                    }
                });
            },
            handleView (name) {
                this.filePath = name;
                this.visible = true;
            },
            handleRemove (file) {
                var fileList = this.formGoods.resources;
                this.formGoods.resources.splice(fileList.indexOf(file), 1);
            },
            handleSuccess (res) {
                console.log(res);
                this.formGoods.resources.push({
                    name: res.fileName,
                    fileName: res.fileName,
                    filePath: res.filePath,
                    status:'finished'
                });
                console.log( this.formGoods);
            },
            handleFormatError (file) {
                this.$Notice.warning({
                    title: 'The file format is incorrect',
                    desc: 'File format of ' + file.name + ' is incorrect, please select jpg or png.'
                });
            },
            handleMaxSize (file) {
                this.$Notice.warning({
                    title: 'Exceeding file size limit',
                    desc: 'File  ' + file.name + ' is too large, no more than 2M.'
                });
            },
            handleBeforeUpload () {
                var check = this.formGoods.resources.length < 5;
                if (!check) {
                    this.$Notice.warning({
                        title: 'Up to five pictures can be uploaded.'
                    });
                }
                return check;
            }
        },
        created: function () {

        }
    })

</script>
</body>
</html>
